[submodule "tools/bmi"]
	path = tools/bmi
	url = https://github.com/Martialcart/bmi.git
[submodule "tools/OptimalPause"]
	path = tools/OptimalPause
	url = https://github.com/Martialcart/OptimalPause.git
[submodule "about/Martialcart"]
	path = about/Martialcart
	url = https://github.com/Martialcart/Martialcart.git
