/*VARIABLES*/  
:root {
    /*colors*/
    --body-bg-color: white;
    --body-font-color: white;
    --header-bg-color: grey;
    --main-bg-color: black;
}

/*BODY*/
body {
    background-color: var(--body-bg-color);
    color: var(--body-font-color);
}


/*HEADER*/
header {
    background-color: var(--header-bg-color);
}



.hamburger {
    width: 100;
    height: 100;
    xmlns: "http://www.w3.org/2000/svg";
}

/*MAIN*/
main {
    background-color: var(--main-bg-color);
}

.fullpage {
    height: 100vh;
}
