/*VARIABLES*/  
:root {
    /*colors*/
    --body-bg-color: black;
    --body-font-color: mintCream;
    --header-bg-color: black;
    --navigation-color: black;
    --link_color: AliceBlue;
}

/*BODY*/
body {
    background-color: var(--body-bg-color);
    color: var(--body-font-color);
}

.hidden{
   display: none; 
}


/*HEADER*/
header {
    background-color: var(--header-bg-color);
}

.headerTitle {
    margin: 0;
    margin-left: 5vw;
}

.flexDown {
    display: flex;
    flex-direction: column;
}

.navTopLock {
    position: fixed;
    right: 1em;
    top: 1em;
    background-color: var(--navigation-color);
    border-radius: 5px;
}

.nav {
   display: flex;
   text-decoration-line: none; 
   color: var(--link-color);
   min-height: 10mm;
   min-width: 10mm;
   align-items: center;
}

.link {
   justify-content: space-around;
}

/*MAIN*/
.fullpage {
    height: 100vh;
}
