/*VARIABLES*/  
:root {
    /*colors*/
    --body-bg-color: black;
    --body-font-color: mintCream;
    --header-bg-color: black;
    --navigation-color: black;
    --link_color: AliceBlue;
}

/*BODY*/
body {
    background-color: var(--body-bg-color);
    color: var(--body-font-color);
}

.burgerMenuHide{
   display: none; 
}


/*HEADER*/
header {
    background-color: var(--header-bg-color);
}

.headerTitle {
    margin: 0;
    margin-left: 5vw;
}

.hamburgerMenuShow {
    display: flex;
    flex-direction: column;
}

.navContainer {
    position: fixed;
    right: 1em;
    top: 1em;
    background-color: var(--navigation-color);
    border-radius: 5px;
    z-index: 1;
    opacity: 0.8;
}

.navItem {
   display: flex;
   text-decoration-line: none; 
   color: var(--link-color);
   min-height: 10mm;
   min-width: 10mm;
   align-items: center;
}

/*MAIN*/
.fullpage {
    height: 100vh;
}

.tool {
    min-width: 100%;
    min-height: 12em;
    /*opacity: 0.9;*/
    border-radius: 1em;
}

@media (min-width: 1000px) {
    header {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
    }

    .hamburger {
	display: none;
    }

    .burgerMenuHide {
	display: flex;
	flex-direction: row;
    }

     .hamburgerMenuShow {
	flex-direction: unset;
    }   

    nav {
	gap: 1em;
    }

    .tool {
	min-width: 32vw;
    }
}
